# Pytorch utils for GPU acceleration
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio

# the openai whisper library
openai-whisper
openai

#pandas for dataframe manipulation
pandas

# ipypkernel for VScode
ipykernel

# streamlit for user interface
streamlit
streamlit-audiorecorder